*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    width: 1440px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    color: rgb(13, 19, 33);
}

h3{
    font-size: 32px;
    font-weight: 800;
}

h4{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
}

p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 16px 0px;
}

button{
    padding: 12px 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-weight: 500;
}

button:hover{
    padding: 12px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    cursor: pointer;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
    padding: 30px 0;
}

nav h3{
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

nav button{
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px;
}

nav button:hover{
    cursor: pointer;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(13, 19, 33);
}

.hero{
    background-image: url(../media/Hero-bg.png);
    background-repeat: repeat-x; */
    background-size: cover;
    background-position: center;
    /* height: 652px; */
    text-align: center;
}

.hero-content{
    width: 998px;
    margin: 0 auto;
    padding: 26px 0;
}

/* .hero img{
    margin-top: 26px;
} */

.hero-content h1{
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin: 24px 0px;
}

.hero-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0px;
}

.hero-content button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: 1px solid rgb(13, 19, 33);
    opacity: 1;
    padding: 21px 24px;
    margin-top: 24px;
}

.hero-content button:hover{
    border: 1px solid rgb(13, 19, 33);
    background-color: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
}

.hero-content button a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}

.hero-content button a:hover{
    color: rgb(13, 19, 33);
}

main{
    width: 1140px;
    margin: 0 auto;
}

.why-web-dev{
    padding: 80px 97px;
    margin: 0 auto;
}

.why-web-dev-head{
    text-align: center;
    padding: 48px;
    margin: 0 auto;
}

.why-web-dev-head h3{
    margin: 24px 0;
}

.why-web-dev-body{
    display: flex;
    padding: 48px;
}

.why-web-dev-body p{
    text-align: left;
}