*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    color: rgb(13, 19, 33);
}

h3{
    font-size: 32px;
    font-weight: 800;
}

h4{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
}

p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 16px 0px;
}

button{
    padding: 12px 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-weight: 500;
}

button:hover{
    padding: 12px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    cursor: pointer;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
    padding: 30px 0;
}

nav h3{
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

nav button{
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px;
}

nav button:hover{
    cursor: pointer;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(13, 19, 33);
    padding: 17px 24px;
}

.hero{
    background-image: url(../media/Hero-bg.png);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.hero-content{
    width: 998px;
    margin: 0 auto;
    padding: 26px 0;
}

.hero-content h1{
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin: 24px 0px;
}

.hero-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0px;
}

.hero-content button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: 1px solid rgb(13, 19, 33);
    opacity: 1;
    padding: 21px 24px;
    margin-top: 24px;
}

.hero-content button:hover{
    border: 1px solid rgb(13, 19, 33);
    background-color: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
}

.hero-content button a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}

.hero-content button a:hover{
    color: rgb(13, 19, 33);
}

main{
    width: 1140px;
    margin: 0 auto;
}

.why-web-dev{
    padding: 80px 97px;
    margin: 0 auto;
}

.main-head{
    text-align: center;
    padding: 48px;
    margin: 0 auto;
}

.main-head h3{
    margin: 24px 0;
}

.main-body{
    display: flex;
    padding: 48px;
}

.main-body p{
    text-align: left;
}

.main-section-head{
    padding: 80px 97px;
    margin: 0 auto;
    text-align: center;
}

.my-inspiration .main-section-head{
    padding-bottom: 0;
}

.my-inspiration-video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;

}

.my-inspiration-video iframe{
    border-radius: 16px;
    width: 100%;
}

.my-current-target-body{
    display: flex;
}

.my-current-target-body div{
    padding: 40px;
}

.my-current-target-body div:nth-child(1){
    background-color: rgba(255, 76, 30, 0.05);
}

.my-current-target-body div:nth-child(2){
    background-color: rgba(0, 76, 232, 0.05);
}

.my-current-target-body div:nth-child(3){
    background-color: rgba(255, 223, 0, 0.05);
}

.my-current-target-body h4{
    color: rgb(13, 19, 33);
    font-size: 24px;
}

.my-current-target-body p{
    text-align: left;
}

.my-current-target-body a{
    text-align: left;
    font-weight: 700;
    color: rgb(13, 19, 33);
}

.my-next-target-body>div{
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    margin: 24px 0px;
    padding: 40px;
}

.my-next-target .main-section-head{
    padding-bottom: 10px;
}

.my-next-target-body img{
    width: 94px;
    object-fit: contain;
    margin: 0px 24px;
}

.my-next-target-body h4{
    color: rgb(13, 19, 33);
    opacity: 1;
}

.my-next-target-body p{
    text-align: left;
}

.my-next-target-body a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

.need-support{
    text-align: center;
    border-radius: 16px;
    padding: 64px 48px 64px 48px;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('../media/handshake.jpg');
    background-size: cover;
    background-position: center;
}

.need-support h3{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
}
.need-support p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
}

.need-support input[type="email"]{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    width: 684px;
    height: 57px;
}

.need-support input[type="button"]{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 17px 20px;
    font-size: 20px;
    font-weight: 600;
}

.need-support input[type="button"]:hover{
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 80px 0 20px;
}

footer p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    opacity: 1;
}
